<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title><%= pageTitle %></title>
  </head>
   <body>
    
      <!-------------------------N A V B A R ----------------------->
      <div class = "navbarr">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a style = "font-size : 1.9rem; font-family : Microsoft YaHei UI;" class="navbar-brand ml-5" href="#"><span style = "color : #33FFA9;">&#60;/</span> Varun</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link mt-5 mb-5 mr-4 ml-4" href="#"><span style = "color : #33FFA9;">/Home/</span> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mt-5 mb-5 mr-4 ml-4" href="#about-me">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mt-5 mb-5 mr-4 ml-4" href="#contact">Contact</a>
                  </li>
             </ul>
            </div>
          </nav>
          </div>
      <!----------------------END OF NAVBAR---------------------------->

      <!-----------------------SECTION---------------------------------->
      <div class = "section">
        <div class = "container-fluid">
            <div style = "color : white;" class = "row">
              <div class="col-lg-6 pt-5 mt-5 pl-5">
                     <p id = "p1">Hello, My Name Is</p>
             <div class = "pt-3 text">
                      <p id = "p2">Varun Gera</p>
             </div>
             <div class = "pt-3 text">
                  <p id = "p3"><span style = "color : #33FFA9;">-----</span>A MEAN Stack Developer</p>
              </div>
              <div class = "pt-5">
                <p id = "p4">
                  As a web developer, I'm up for just about any website-building challenge.
                </p>
              </div>
          </div>
           <div class="col-lg-6 pt-5 mt-3" data-aos = "fade-down">
              
                  <img src = "image/potfo2.jpg"></div>
                  
              
           </div>
    </div>
    </div>
<!------------------------------END OF SECTION----------------------------------------------->

<!------------------------------A B O U T  M E----------------------------------------------->

<div id = "about-me" class = "section2">
     <div class = "container-fluid">
       <div class = "row   ml-4 m-4 mr-4 mb-5">
         <div class = "col-lg-5">
          
          <p style  = "font-family : Montserra; line-height: 20px;"><span style = "color : #33FFA9;">-----</span>ABOUT ME</p>
          <h2 style = "line-height : 3rem;letter-spacing : 3px;">Who Am I</h2>
          <p id = "p5">My name is Varun Gera.I'm a B.tech 3rd year undergraduate , majors in Computer Science & Engineering from AJAY KUMAR GARG
            ENGINEERING COLLEGE , GHAZIABAD. Currently , I am working on MEAN stack development and I'm very dedicated and 
            passionate to my work.I have acquired the skills necessary to build great webapps.
          </p>
         </div>

         <div class = "col-lg-6 pl-5 ml-5 mt-5" data-aos="fade-up">
           <div class = "box ml-4">
           <h4 style = "text-align : center; line-height : 3rem">My Skill Set</h4>
           <ul style = "line-height: 2rem;">
             <li>HTML5</li>
             <li>CSS</li>
             <li>JavaScript</li>
             <li>NodeJs</li>
             <li>Angular</li>
           </ul>
         </div>
            </div>
         </div>
      </div>
      </div>
      

       


<!--------------------------------------E N D  OF SECTION 2-------------------------------------------------------->

<!----------------------------------------F O O T E R------------------------------------------------------->

<div id = "contact" class = "section3">
  <div class = "container-fluid">
      <div class = "row">
        <div class = "col-lg-5 mt-3 ml-5 pb-5">
          <p id = "p6"> You can reach me by :</p>
         
       <a href = "http://instagram.com/varun__gera"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
       <a href = "#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
        <a href = "https://twitter.com/Varun__gera"> <i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        
        </div>

        <div class = "col=lg-6 ml-5 mb-5  pl-5 pl-5">
        
         <p id = "p7"> &#60;/Varun</p>
       
      </div>

  </div>
</div>
       </div>
       <script type = "text/javasipt">
      
        AOS.init({
          duration: 1200,
        })
      
      </script>

      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>